.display-term.mb-3
  = form_with( url:admins_reservations_path, method: :get, local: true ) do |f|
    .row
      .col-3
        = f.date_field :start_date, value: @start_date, class: 'form-control'
      .col-3
        = f.date_field :end_date, value: @end_date, class: 'form-control'
      .col-3
        = f.submit '日付で絞り込む', class: 'btn btn-primary', name: nil
      .col-3
        = link_to '全期間', admins_reservations_path, class: 'btn btn-danger'
.table-responsive
  %table.table.table-bordered
    %thead
      %th 日付/時刻
      - Lesson.hour_range.each do |hour|
        %th
          = hour.first
    %tbody
      - (@start_date..@end_date).each do |date|
        %tr
          %td
            = l(date)
          - Lesson::LESSON_HOUR_RANGE.each do |hour|
            - if @datas.has_key?([date, hour])
              - data = @datas[[date, hour]]
              %td{ class: "#{data[:color]}" }
                = "#{data[:reserve_count]}/#{data[:lesson_count]}"
            - else
              %td ---
