%h1 レッスンの編集

= simple_form_for(@lesson, url: teachers_lesson_path) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :language_id, as: :select, collection: current_teacher.languages.all, selected: @lesson.language.present? ? @lesson.language.id : Language.first.id
  .form-inputs
    = f.input :start_date, as: :datetime, discard_minute: true
  .form-inputs
    = f.input :zoom_url
  .form-actions
    = f.button :submit, class: "btn btn-primary"

= link_to '詳細', teachers_lesson_path(@lesson)
\|
= link_to 'もどる', teachers_lessons_path
