= simple_form_for(url: teachers_multi_lesson_register_path ) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :language_id, as: :select,
     collection: current_teacher.languages.all,
     selected: new_record ? current_teacher.languages.first : @lesson.language
  .form-inputs
    .row
      .col
        = f.input :date, as: :date,
         html5: true,
         input_html: { min: Date.tomorrow, max: Date.tomorrow.since(2.weeks),
            value: l( new_record ? Date.tomorrow : @lesson.date, format: :short_date) }
      .col
        = f.input :hour, as: :select, collection: Lesson.hour_range,
         selected: new_record ? Lesson.hour_default : @lesson.hour
  .form-inputs
    = f.input :zoom_url
  .form-actions
    = f.button :submit, class: "btn btn-primary"
