%h3 チケット残高
%table.table.table-striped.coupon_balance
  %thead
    %th チケット種別
    %th 残りチケット数
  %tbody
    %tr
      %td 期限ありチケット
      %td
        = "#{user.subscription_balance}回"
        -if user.subscription_expire_at
          %br
          有効期限
          = l(user.subscription_expire_at, format: :short_jp)
          まで
    %tr
      %td 無期限チケット
      %td= "#{user.infinite_balance}回"
