%h1 ユーザーページ

%h3 定期決済プランの情報

- if @subscription
  %table.table.table-striped.subscriptions
    %thead
      %tr
        %th 契約プラン
        %th 次回決済日
        %th 休止状態
    %tbody
      %tr
        %td= @subscription.plan_name
        %td= l(@subscription.next_billing_date, format: :short_jp)
        %td= @subscription.suspend_status


%table.table.table-striped.lesson_feedback
  %thead
    %tr
      %th レッスン概要
      %th フィードバックの内容

  %tbody
    - @lesson_feedbacks.includes(:lesson).each do |feedback|
      %tr
        %td= feedback.lesson.summary
        %td= feedback.content
