%h1 言語の選択

%table.table.table-striped.teachers
  %thead
    %tr
      %th 言語名

  %tbody
    - @languages.each do |language|
      %tr
        %td
          = link_to language.name, admins_language_graphs_path({name: language.name})


- if @languages_stats
  .table-responsive
    %table.table.table-bordered
      %thead
        %th 月
        %th 予約数
        %th レッスン数

      %tbody
        - @languages_stats.each do |stat|
          %tr
            %td
              = link_to stat[:month], admins_language_graphs_path({name: @language_name, date: stat[:date]})
            %td
              = stat[:reserve_count]
            %td
              = stat[:lesson_count]


- if @languages_daily_stats
  %table.table.table-bordered
    %thead
      %tr
        - @date_range.to_a.slice(0, 7).each do |day|
          %th{class: column_color( day.wday ) }
            = t('date.abbr_day_names')[day.wday]
    %tbody
      - @date_range.each_slice(7) do |week|
        %tr
          - week.each do |date|
            - stat =  @languages_daily_stats[date.to_s] || {lesson_count:0, reserve_count:0}
            %td{class: "#{td_classes_for(date, @origin_date)} #{column_color( date.wday )}"}
              = date.day
              %p
                .badge{class: stat[:cell_color]}
                  = "#{stat[:reserve_count]} / #{stat[:lesson_count]}"
