-# frozen_string_literal: true
= simple_form_for(@reservation) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :lesson_id, as: :hidden, input_html: {value: @lesson.id}
    %h3
      = @lesson.language.name
      = "（#{Teacher.model_name.human} #{@lesson.teacher.name} 先生）"
    .lesson
      = Lesson.model_name.human
      = l( @lesson.time_table.start_time, format: :time_only)
  .form-inputs
    = f.input :date, as: :select, selected: Date.tomorrow,collection: (Date.tomorrow..Date.tomorrow+2.weeks).map{|d| [l(d),d]},
    label_method: :first, value_method: :second

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
