-# frozen_string_literal: true
= simple_form_for(@reservation) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :lesson_id, as: :hidden, input_html: {value: @lesson.id}
    = @lesson.teacher.name
    = l( @lesson.time_table.start_time, format: :time_only)
  .form-inputs
    = f.input :date, as: :date

  .form-actions
    = f.button :submit
