%h1 レッスン予約一覧

= render 'reservations/reservation_list', reservations: @reservations

%br

= "チケット残高：#{current_user.calc_coupon_balance}回"
= link_to 'レッスンを予約する', select_lesson_reservations_path
= link_to 'チケット購入', new_charge_path
