= simple_form_for @teacher do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :introduce, as: :text, input_html: {row: 4}
    = f.input :avatar, as: :image_preview, input_html: { preview_version: :thumbnail }
    = f.input :password
    = f.input :password_confirmation

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
