%h1 #{@teacher.name}さんの#{@origin_date.month}月の予約状況

%table.table.table-bordered
  %thead
    %tr
      - @date_range.to_a.slice(0, 7).each do |day|
        %th{class: column_color( day.wday ) }
          = t('date.abbr_day_names')[day.wday]
  %tbody
    - @date_range.each_slice(7) do |week|
      %tr
        - week.each do |date|
          - stat =  @daily_stats[date.to_s] || {lesson_count:0, reserve_count:0}
          %td{class: "#{td_classes_for(date, @origin_date)} #{column_color( date.wday )}"}
            = date.day
            %p
              .badge{class: stat[:cell_color]}
                = "#{stat[:reserve_count]} / #{stat[:lesson_count]}"

