%h1 日毎

.table-responsive
  %table.table.table-bordered
    %thead
      %th 日付
      %th 予約数
      %th レッスン数
    %tbody
      - @daily_stats.each do |stat|
        %tr
          %td
            = "#{l(Date.parse(stat[:date]))} （#{stat[:week]}）"
          %td
            = stat[:reserve_count]
          %td
            = stat[:lesson_count]


%table.table.table-bordered
  %thead
    %tr
      - @date_range.slice(0, 7).each do |day|
        %th
          = t('date.abbr_day_names')[day.wday]
  %tbody
    - @date_range.each_slice(7) do |week|
      %tr
        - week.each do |day|
          %td{class: td_classes_for(day, @origin_date)}
            = day

            