!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OnlineLanguageLesson
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
  %body
    = render "layouts/header"
    .container.mt-3
      - if alert
        %p.alert.alert-danger= alert
      - elsif notice
        %p.alert.alert-success= notice
      = yield
